
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hello from FIT-FPTS</title>
</head>
<body>
    <div>
        <h2>Hello from FIT-FPTS</h2>
        <p>We're going to have an exciting kick-off event</p>
    </div>
    @Html.ActionLink("Join now", "Register") 

</body>
</html>
