
<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
    <meta name="viewport" content="width = device-width"/>
    <title>My View</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <td><b>Task name</b></td>
                <td><b>From date</b></td>
                <td><b>To date</b></td>
                <td><b>Status</b></td>
            </tr>
            <tr>
                <td>Lam quen voi asp.nt mvc</td>
                <td>01/03/2018</td>
                <td>03/03/2018</td>
                <td>Hoan thanh</td>
            </tr>
        </table>
    </div>
</body>
</html>

